h1{

    color: #001a4d; /* darker deep navy color */
    margin-bottom: 5px;
}
img{
    width: 400;
    align-items: cent;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;

}

.container{
    width: 80%;
    max-width: 800px;
    background: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

h3{
    color: rgb(48,63,159);
    margin-top: 30px;
    border: 4px solid darkblue;
    padding-left: 10px;
}

.info{
    
    font-size: 15px;
    color:black;
}

p{
    line-height: 1.6;
    color: black;
}

strong{
    color: black;
}

hr{
    border: none;
    height: 1px;
    background: gainsboro;
    margin: 25px 0;
    font-size: larger;
}

/* Updated table styling with darker text */
.edu-table {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #222; /* darker text color */
}

.edu-table th {
    background: #e6e6e6;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #000; /* dark heading color */
}

.edu-table td {
    padding: 10px;
    border-bottom: 1px solid #aaa; /* slightly darker border */
    color: #000; /* dark text */
}
